<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<meta http-equiv="cache-control" content="no-cache">
<link rel="stylesheet" href="%css_file%" type="text/css">
<title>
%title%
</title>
</head>
<body %body_style%>
<!-- with_interface begin -->
<table align='center' border='0px' class='MainTableStyle'>
<tr>
<td class='TimeStyle'>%current_time_on_server%</td>
</tr>
<tr>

<td colspan=2>

<table width='100%'>
<tr>
<td class='HeaderStyle'>%header%</td></tr>
<tr>
<td class='RightStyle'>
<!-- with_interface end -->
%body%
<!-- with_interface begin -->
%return_button%
</td>
</tr>
</table>

</td>
</tr>
<tr><td class='FooterStyle'>%footer%</td></tr>
</table>
<!-- with_interface end -->
</body>
</html>