<meta http-equiv="refresh" content="30" />
<div style='text-align: right;'>%return_button%</div>
%operations%
<hr>
<!-- call_logs begin -->
<h3>%call_logs_title%</h3>
<center><pre>%page_selector%</pre></center>
<table width='100%' border='1px' class='RightTableStyle'>
<tr class='RightHeaderStyle'>
<td>#</td><td>%call_date%</td><td>%src_number%</td><td>%dst_number%</td><td>%duration%</td><td>%call_result%</td>
</tr>
<!-- call_logs end -->
%calls_list%
<!-- call_logs begin -->
</table>
<center><pre>%page_selector%</pre></center>
<!-- call_logs end -->
<hr>
<div style='text-align: right;'>%return_button%</div>
